<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Conferma cancellazione</title>
</head>
<body>
	<h1>Sicuro di voler cancellare?</h1>
	<table>
		<tr>
			<td>Nome:</td>
			<td th:text="${progetto.nome}"></td>
		</tr>
		<tr>
			<td>Data di inizio:</td>
			<td th:text="${progetto.dataInizio}"></td>
		</tr>
	</table>
	<p>
		<a th:href="@{'/home/progettiCreati'}">
			<button type="submit">Indietro</button>
		</a>
	</p>

	<form th:action="@{'/home/progettiCreati/' + ${progetto.id} + '/cancellaProgetto'}" method="post">
		<button type="submit">Conferma</button>
	</form>
</body>
</html>