<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Conferma cancellazione</title>
</head>
<body>
	<h1>Sicuro di voler cancellare?</h1>
	<table>
		<tr>
			<td>Nome:</td>
			<td th:text="${credenziali.utente.nome}"></td>
		</tr>
		<tr>
			<td>Cognome:</td>
			<td th:text="${credenziali.utente.cognome}"></td>
		</tr>
		<tr>
			<td>Username:</td>
			<td th:text="${credenziali.username}"></td>
		</tr>
	</table>
	<p>
		<a th:href="@{'/admin'}">
			<button type="submit">Indietro</button>
		</a>
	</p>

	<form th:action="@{'/admin/credenziali' + ${credenziali.id} + '/cancellaUtente'}" method="post">
		<button type="submit">Conferma</button>
	</form>
</body>
</html>