<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<title>Home</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<h1 th:text="'Benvenuto, ' + ${utente.nome} + '!'"></h1>
	<h4>
		<a href="/home/profilo">Il mio profilo</a>
	</h4>
	<h4>
		<a href="/home/creaProgetto">Crea un nuovo progetto</a>
	</h4>
	<h4>
		<a href="/home/progettiCreati">I miei progetti</a>
	</h4>
	<h4>
		<a href="/home/progettiVisibili">Progetti condivisi con me</a>
	</h4>
	<h4>
		<a href="/admin">Passa alla pagina di admin</a>
	</h4>
	<h4>
		<a href="/logout">Logout</a>
	</h4>
</body>
</html>