<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Modifica Progetto</title>
</head>
<body>
	<h1>Modifica i campi:</h1>
	<form
		th:action="@{'/home/progettiCreati/' + ${progettoForm.id} + '/modificaProgetto'}"
		method="POST">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input th:field="${progettoForm.nome}" type="text"
					value="${progettoForm.nome}" /></td>
				<td th:if="${#fields.hasErrors('progettoForm.nome')}"
					th:errors="${progettoForm.nome}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Data di inizio:</td>
				<td th:text="${progettoForm.dataInizio}" /></td>
			</tr>
		</table>
		<p>
			<button type="submit">Conferma</button>
		</p>
	</form>
	<footer>
		<p>
			<a th:href="@{'/home/progettiCreati/' + ${progettoForm.id}}">Indietro</a>
		</p>
	</footer>
</body>
</html>