<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Il mio profilo</title>
</head>
<body>
	<h1>Modifica i campi:</h1>
	<form th:action="@{/home/profilo/modificaProfilo}" method="POST">
		<table>
			<tr>
				<td>Nome:</td>
				<td><input th:field="${utenteForm.nome}" type="text"
					value="${utenteForm.nome}" /></td>
				<td th:if="${#fields.hasErrors('utenteForm.nome')}"
					th:errors="${utenteForm.nome}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Cognome:</td>
				<td><input th:field="${utenteForm.cognome}" type="text"
					value="${utenteForm.cognome}" /></td>
				<td th:if="${#fields.hasErrors('utenteForm.cognome')}"
					th:errors="${utenteForm.cognome}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Username:</td>
				<td><input th:field="${credenzialiForm.username}" type="text"
					value="${credenzialiForm.username}"></td>
				<td th:if="${#fields.hasErrors('credenzialiForm.username')}"
					th:errors="${credenzialiForm.username}" th:style="'color:red'"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input th:field="${credenzialiForm.password}"
					type="password" value="${credenzialiForm.password}" /></td>
				<td th:if="${#fields.hasErrors('credenzialiForm.password')}"
					th:errors="${credenzialiForm.password}" th:style="'color:red'"></td>
			</tr>
		</table>
		<p>
			<button type="submit">Conferma</button>
		</p>
	</form>
	<footer>
		<p>
			<a href="/home/profilo">Indietro</a>
		</p>
	</footer>
</body>
</html>