<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Il profilo selezionato</title>
</head>
<body>
	<h1 th:text="'Ecco profilo di ' + ${credenziali.username} + '!'"></h1>
	<table>
		<tr>
			<td>Nome:</td>
			<td th:text="${credenziali.utente.nome}"></td>
		</tr>
		<tr>
			<td>Cognome:</td>
			<td th:text="${credenziali.utente.cognome}"></td>
		</tr>
		<tr>
			<td>Data creazione profilo:</td>
			<td th:text="${credenziali.utente.dataCreazione}"></td>
		</tr>
		<tr>
			<td>Username:</td>
			<td th:text="${credenziali.username}"></td>
		</tr>
		<tr>
			<td>Ruolo:</td>
			<td th:text="${credenziali.ruolo}"></td>
		</tr>
	</table>


	<form
		th:action="@{'/admin/credenziali' + ${credenziali.id} + '/modificaRuolo'}"
		method="POST">
		<p>
			Seleziona Ruolo: <select name="ruolo">
				<option th:value="DEFAULT" th:text="DEFAULT"></option>
				<option th:value="ADMIN" th:text="ADMIN"></option>
			</select>
			<button type="submit">Salva modifica</button>
		</p>
	</form>

	<h3>I suoi progetti:</h3>
	<ul>
		<li th:each="progetto : ${progetti}"><p>
				<strong><a th:text="${progetto.nome}"></a> </strong> <em> <a
					th:text="' Data di inizio: ' + ${progetto.dataInizio}"
					th:style="'color:grey'"> </a>
				</em> <a
					th:href="@{'/admin/credenziali' + ${credenziali.id} + '/'  + ${progetto.id} + '/cancellaProgetto'}">
					<button type="submit">Cancella</button>
				</a>
			</p></li>
	</ul>

	<h3>Menda un messaggio all'utente</h3>
	<form
		th:action="@{'/admin/credenziali'+ ${credenziali.id} + '/creaMessaggio'}"
		method="POST">
		<table>
			<tr>
				<td>Messaggio:</td>
				<td><textarea th:field="${messaggioForm.testo}" rows="4"
						cols="35" placeholder="TESTO DEL MESSAGGIO"></textarea></td>
				<td th:if="${#fields.hasErrors('messaggioForm.testo')}"
					th:errors="${messaggioForm.testo}" th:style="'color:red'"></td>
			</tr>
		</table>
		<p><button type="submit">Invia</button></p>
	</form>

	<footer>
		<p>
			<a href="/admin">Home</a>
		</p>
	</footer>
</body>
</html>